{
    "branches": [
        "master",
        {
            "name": "next",
            "prerelease": "beta",
            "channel": "beta"
        },
        {
            "name": "rc/[A-Za-z]+/[A-Za-z0-9+]+",
            "prerelease": "alpha",
            "channel": "alpha"
        },
        {
            "name": "prerelease/[A-Za-z]+/[A-Za-z0-9+]+",
            "prerelease": "<%= name.split('/')[1] %>",
            "channel": "<%= name.split('/')[1] %>"
        }
    ]
}